@model IEnumerable<MvcMovie.Models.Talk>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resources)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TalkerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConferenceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndEventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Resources)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TalkerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConferenceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndEventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
