@model MvcMovie.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<div class="regular-crud">
    <h1>Details</h1>

    <div>
        <h4>My Profile</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lastname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.University)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.University)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Career)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Career)
            </dd>

        </dl>
        <dl class="row">
            <dd class="col-12">
                <h4>Mis Conferencias</h4>
            </dd>
            <dd class="col-6">
                <table id="myTable">
                    <tr>
                        <th>Conferences</th>
                        <th>Descriptions</th>
                    </tr>
                    @{
                        foreach (var conference in Model.Conferences)
                        {
                            <tr>
                                <td><a asp-controller="Conferences" asp-action="Details" asp-route-id="@conference.Id"> @conference.Name </a></td>
                                <td><a asp-controller="Conferences" asp-action="Details" asp-route-id="@conference.Id"> @conference.Description </a> </td>
                            </tr>
                            <br />
                        }
                    }
                </table>
            </dd>
        </dl>
        <dl class="row">
            <dd class="col-12">
                <h4>Mis Fiestas</h4>
            </dd>
            <dd class="col-6">
                <table id="myTable">
                    <tr>
                        <th>Fiestas</th>
                    </tr>
                    @{
                        foreach (var party in Model.Parties)
                        {
                            <tr>
                                <td><a asp-controller="Parties" asp-action="Details" asp-route-id="@party.Id"> @party.Track </a></td>
                            </tr>
                        }
                    }
                </table>
            </dd>
        </dl>
        <dl class="row">
            <dd class="col-12">

                <h4>My Subscriptions</h4>
            </dd>

            <dd class="col-6">
                <table id="myTable">
                    <tr>
                        <th>Conferences</th>
                        <th>Descriptions</th>
                    </tr>
                    @{
                        foreach (var attendConference in Model.AttendConferences)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Conferences" asp-action="Details" asp-route-id="@attendConference.Conference.Id"> @attendConference.Conference.Name </a>
                                </td>
                                <td>
                                    <a asp-controller="Conferences" asp-action="Details" asp-route-id="@attendConference.Conference.Id"> @attendConference.Conference.Description </a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </dd>
        </dl>

        <dl class="row">
            <dd class="col-12">

                <h4>Notificationes de conferencias</h4>
            </dd>

            <dd class="col-6">
                <table id="myTable">
                    <tr>
                        <th>Conference</th>
                        <th>Message</th>
                    </tr>
                    @{
                        foreach (var conferenceNotification in Model.ConferenceNotifications)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Conferences" asp-action="Details" asp-route-id="@conferenceNotification.Conference.Id"> @conferenceNotification.Conference.Name </a>
                                </td>
                                <td>
                                    @conferenceNotification.Message
                                </td>
                            </tr>
                        }
                    }
                </table>
            </dd>
        </dl>

        <dl class="row">
            <dd class="col-12">

                <h4>Fiestas a las que estoy suscrito</h4>
            </dd>

            <dd class="col-6">
                <table id="myTable">
                    <tr>
                        <th>Party</th>
                    </tr>
                    @{
                        foreach (var attendParty in Model.AttendParties)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Parties" asp-action="Details" asp-route-id="@attendParty.Party.Id"> @attendParty.Party.Track </a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" id="button5" class="coolButton">Edit</a>
        <a href="/" id="button5" class="coolButton float-right">Back Home</a>
    </div>
</div>