@model MvcMovie.Models.Room

@{
    ViewData["Title"] = "Details";
}
    <div class="regular-crud">
        <h1>Details</h1>

        <div>
            <h4>Room</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Capacity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Capacity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Location)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Parties)
                </dt>
                <dd class="col-sm-10">
                    @{
                        foreach (var party in Model.Parties)
                        {
                            <text>
                                <h1>@party.Track</h1>
                                <br />
                            </text>
                        }
                    }
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Dinners)
                </dt>
                <dd class="col-sm-10">
                    @{
                        foreach (var dinner in Model.Dinners)
                        {
                            <text>
                                <h1>@dinner.Track</h1>
                                <br />
                            </text>
                        }
                    }
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Talks)
                </dt>
                <dd class="col-sm-10">
                    @{
                        foreach (var talk in Model.Talks)
                        {
                            <text>
                                <h1>@talk.Track</h1>
                                <br />
                            </text>
                        }
                    }
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Chats)
                </dt>
                <dd class="col-sm-10">
                    @{
                        foreach (var chat in Model.Chats)
                        {
                            <text>
                                <h1>@chat.Track</h1>
                                <br />
                            </text>
                        }
                    }
                </dd>

            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
</div>