@model MvcMovie.Models.Conference

@{
    ViewData["Title"] = "Details";
}
<div class="regular-crud">

    <h1>Details</h1>

    <div>
        <div class="row">
            <div class="col-10">
                <h4>Conference</h4>
            </div>
            <div class="col-2">
                <h4> Attendants: @Model.Attendants.Count</h4>
            </div>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Spots)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Spots)
            </dd>
            <dt class="col-sm-2">
                User
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EventCenter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EventCenter.Name)
            </dd>
            @{ if (Model.Repetitions.Count > 0) {
            <dt class="col-sm-2">
                Coming back on:
            </dt>
                }
            }
            <dd class="col-sm-10">
                @{ if(@Model.Repetitions.Count > 0){ 
                        foreach (var repetitions in Model.Repetitions)
                        {
                            <text>
                            @repetitions.Day-@repetitions.Month-@repetitions.Year
                            </text>
                        }
                   }
                }
            </dd>

            <div class="col-1"></div> 
            <table id="myTable" class="col-10">
                <tr>
                    <th>Event Track</th>
                    <th>Event Type</th>
                    <th>Creator</th>
                </tr>
                @{
                    foreach (var party in Model.Parties)
                    {
                        <tr onclick="window.location.href = '/Parties/Details/@party.Id';">
                            <td>
                                @party.Track
                            </td>
                            <td>
                                Party
                            </td>
                            <td>
                                @party.PersonId
                            </td>
                        </tr>
                    }

                    foreach (var chat in Model.Chats)
                    {
                        <tr onclick="window.location.href = '/Chats/Details/@chat.Id';">
                            <td>
                                @chat.Track
                            </td>
                            <td>
                                Chat
                            </td>
                            <td>
                                @chat.PersonId
                            </td>
                        </tr>
                    }
                    foreach (var dinner in Model.Dinners)
                    {
                        <tr onclick="window.location.href = '/Dinners/Details/@dinner.Id';">
                            <td>
                                @dinner.Track
                            </td>
                            <td>
                                Dinner
                            </td>
                            <td>
                                @dinner.PersonId
                            </td>
                        </tr>
                    }
                    foreach (var talk in Model.Talks)
                    {
                        <tr onclick="window.location.href = '/Dinners/Details/@talk.Id';">
                            <td>
                                @talk.Track
                            </td>
                            <td>
                                Talk
                            </td>
                            <td>
                                @talk.PersonId
                            </td>
                        </tr>
                    }
                }
                
            </table>
        </dl>
    </div>
    <div>
        @{
            if (ViewBag.currentUser.Id == @Model.UserId)
            {
                <form method="get" asp-action="AddNotification" asp-route-id="@Model.Id">
                    <button type="submit"  class="coolButton mt-2 mb-2" id="button5">
                        Notification
                    </button>
                </form>
            }
            if (ViewBag.conferenceUser != null)
            {
                <form method="post" asp-action="DeleteAttendant" asp-route-id="@Model.Id">
                    <button type="submit" class="coolButton" id="button5">
                        Unsubscribe
                    </button>
                </form>
            }
            else if (@Model.Attendants.Count < @Model.Spots)
            {
                <form method="post" asp-action="AddAttendant" asp-route-id="@Model.Id">
                    <button type="submit" class="coolButton" id="button5">
                        Subscribe
                    </button>
                    <a asp-action="Edit" asp-route-id="@Model.Id" id="button5" class="coolButton">Edit</a>
                    <a asp - action="Index" id="button5" class="coolButton float-right">Back to List</a>
                </form>
            }
            else
            {
                <h4>Esta conferencia esta llena!</h4>
            }
        }

    </div>
</div>