@model MvcMovie.Models.Conference

@{
    ViewData["Title"] = "Details";
}

<script type="text/javascript">

    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });

    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Event', 'Attendants'],
            ['Parties', @ViewBag.partyAttendants],
            ['Dinners', @ViewBag.dinnerAttendants],
            ['Chats', @ViewBag.chatAttendants],
            ['Talks', @ViewBag.talkAttendants],
        ]);

        var options = {
            title: 'Asistentes por tipo de evento',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>

<div class="regular-crud">

    <h1>
        @Model.Name
    </h1>

    <div>
        <div class="row">
            <div class="col-8">
                <h4>Conference</h4>
            </div>
            <div class="col-2">
                @{
                    if (ViewBag.currentUser.Id == @Model.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" id="button5" class="coolButton float-right">Edit</a>

                    }
                }

            </div>
            <div class="col-2">
                @{
                    if (ViewBag.conferenceUser != null)
                    {
                        <form method="post" asp-action="DeleteAttendant" asp-route-id="@Model.Id">
                            <button type="submit" class="coolButton" id="button5">
                                Unsubscribe
                            </button>
                        </form>
                    }
                    else if (@Model.Attendants.Count < @Model.Spots)
                    {
                        <form method="post" asp-action="AddAttendant" asp-route-id="@Model.Id">
                            <button type="submit" class="coolButton" id="button5">
                                Subscribe
                            </button>
                        </form>
                    }
                    else
                    {
                        <h5>Esta conferencia esta llena!</h5>
                    }
                }
            </div>
        </div>
        <hr />
        <dl class="row">
            <dd class="col-12">
                @{
                    var eventDate = Model.ReleaseDate.ToString("MMMM dd yyyy");
                }
                <p class="float-right">
                    <span class="icon-calendar"></span>
                    @Html.DisplayFor(model => eventDate)
                </p>
            </dd>
            <dt class="col-sm-2">
                Details
            </dt>
            <dd class="col-sm-10">
                <p class="text-justify">
                    @Html.DisplayFor(model => model.Description)
                </p>
                <h6 class="float-right">Organizer: @Html.DisplayFor(model => model.User.Name)</h6>
                <br />
                <hr />
            </dd>
            <dt class="col-sm-2">
                Where
            </dt>
            <dd class="col-sm-8">
                <span class="icon-location-arrow"></span>
                @Html.DisplayFor(model => model.EventCenter.Name)
            </dd>
            @{
                var precio = Math.Round(Model.Price, 0);
                var precio2 = string.Format("{0:#,0}", precio);
            }
            <dd class="col-sm-2">
                <p class="float-right">
                    <span class="icon-dollar"></span>
                    @Html.DisplayFor(model => precio2) CLP
                </p>
            </dd>

            <dt class="col-sm-2">
                Remaining Spots
            </dt>
            <dd class="col-sm-10">
                @{
                    var remainingSpots = Model.Spots - Model.Attendants.Count;
                }
                <span class="icon-person"></span>
                @Html.DisplayFor(model => remainingSpots)

            </dd>
            @*@{ if (model.Repetitions.Count > 0) {
                    <dt class="col-sm-2">
                        Coming back on:
                    </dt>
                }*@
            <dd class="col-sm-10">
                @{
                    foreach (var repetitions in Model.Repetitions)
                    {
                        <text>
                            <p>Days: @repetitions.Day Months: @repetitions.Month Years: @repetitions.Year</p>
                            <br />
                        </text>
                    }
                }
            </dd>

            <dd class="col-sm-10">

                @{
                    @if (Model.Attendants.Count > 0)
                    {
                        <h5>Attendants</h5>
                        foreach (var attendant in Model.Attendants)
                        {
                            <text>
                                <p> @attendant.User.Name @attendant.User.Lastname</p>
                                <br />
                            </text>
                        }
                    }
                }
            </dd>

            <div class="col-12">
                @{
                    if (ViewBag.currentUser.Id == @Model.UserId)
                    {
                        <form method="get" asp-action="AddNotification" asp-route-id="@Model.Id">
                            <button type="submit" class="coolButton float-left" id="button5">
                                Send Message
                            </button>
                        </form>
                    }
                }
            </div>
            <table id="myTable" class="col-12">
                <form asp-controller="Conferences" asp-action="Details">
                    <div class="col-12">
                        <p class="float-right">
                            Title: <input type="text" name="SearchString">
                            <input type="submit" value="Filter" />
                        </p>
                    </div>
                </form>
                <tr>
                    <th>Event Track</th>
                    <th>Event Type</th>
                    <th>Creator</th>
                </tr>
                @{
                    foreach (var party in Model.Parties)
                    {
                        if (@party.Track.Contains(ViewBag.searchstring))
                        {
                            <tr onclick="window.location.href = '/Parties/Details/@party.Id';">
                                <td>
                                    @party.Track
                                </td>
                                <td>
                                    Party
                                </td>
                                <td>
                                    @party.User.Name
                                </td>
                            </tr>
                        }
                    }

                    foreach (var chat in Model.Chats)
                    {
                        if (@chat.Track.Contains(ViewBag.searchstring))
                        {
                            <tr onclick="window.location.href = '/Chats/Details/@chat.Id';">
                                <td>
                                    @chat.Track
                                </td>
                                <td>
                                    Chat
                                </td>
                                <td>
                                    @chat.User.Name
                                </td>
                            </tr>
                        }
                    }
                    foreach (var dinner in Model.Dinners)
                    {
                        if (@dinner.Track.Contains(ViewBag.searchstring))
                        {
                            <tr onclick="window.location.href = '/Dinners/Details/@dinner.Id';">
                                <td>
                                    @dinner.Track
                                </td>
                                <td>
                                    Dinner
                                </td>
                                <td>
                                    @dinner.User.Name
                                </td>
                            </tr>
                        }
                    }
                    foreach (var talk in Model.Talks)
                    {

                        if (@talk.Track.Contains(ViewBag.searchstring))
                        {
                            <tr onclick="window.location.href = '/Talks/Details/@talk.Id';">
                                <td>
                                    @talk.Track
                                </td>
                                <td>
                                    Talk
                                </td>
                                <td>
                                    @talk.User.Name
                                </td>
                            </tr>
                        }
                    }
                }

            </table>
        </dl>
    </div>
    <div class="row">
        @{
            if (ViewBag.currentUser.Id == @Model.UserId)
            {
                <div class="col-1 mr-3">
                    <a asp-action="AddParty" asp-route-id=@Model.Id class="coolButton" id="button5">Add Party</a>
                </div>
                <div class="col-1 mr-3">
                    <a asp-action="AddChat" asp-route-id=@Model.Id class="coolButton" id="button5">Add Chat</a>
                </div>
                <div class="col-1 mr-3">
                    <a asp-action="AddDinner" asp-route-id=@Model.Id class="coolButton" id="button5">Add Dinner</a>
                </div>
                <div class="col-1 mr-3">
                    <a asp-action="AddTalk" asp-route-id=@Model.Id class="coolButton" id="button5">Add Talk</a>
                </div>
            }
            <div class="col-7 float-right">
                <a asp-action="Index" id="button5" class="coolButton float-right">Back to List</a>
            </div>
        }

    </div>
    <br />
    <h2>Métricas</h2>
    <div id="donutchart" style="width: 900px; height: 500px;"></div>
</div>